#field {
	width:545px;
	height:545px;
}
.square {
	width:170px;
	height:170px;
	border:2px solid black;
	float:left;
}
.number {
	float:left;
	width:52px;
	height:52px;
	font-size:50px;
	border:1px solid black;
	text-align:center;
	position: relative;
}
